


.nav-link.active{
  color: #b9b2b2;
 
}

.nav-link:hover,
.nav-link.active:hover{
  color: #387ed1;
}
.footerp{
    cursor: pointer;
}
.footerp:hover{
    color: blue !important;

}
#supportHero{
  background-color:rgb(56,126,209);
  color:white !important
}
#supportHero a{
  color: white;
}
#supportHero input{
 padding: 20px 50px ;
 width: 100%;
 font-size: 20px;
 border-radius: 10px;
 border: none;
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}